In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import edhec_risk_kit as erk

In [27]:
me_m = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv",
                        header=0, index_col=0, na_values=-99.99)
rets = me_m[["Lo 20", "Hi 20"]]
rets.columns = ["small_cap", "large_cap"]
rets = rets/100
rets.index = pd.to_datetime(rets.index, format="%Y%m").to_period("M")

In [28]:
rets.head()

         small_cap  large_cap
1926-07    -0.0057     0.0333
1926-08     0.0384     0.0233
1926-09    -0.0048    -0.0009
1926-10    -0.0329    -0.0295
1926-11    -0.0055     0.0316

## Annualized returns

In [29]:
((rets + 1).prod()**(12/rets.shape[0]) - 1)*100

small_cap    15.197701
large_cap     9.849021
dtype: float64

## Annualized volatility

In [30]:
rets.std()*np.sqrt(12)*100

small_cap    33.670128
large_cap    19.511604
dtype: float64

## 1999 - 2015 Period

In [32]:
rets.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 1110 entries, 1926-07 to 2018-12
Freq: M
Data columns (total 2 columns):
small_cap    1110 non-null float64
large_cap    1110 non-null float64
dtypes: float64(2)
memory usage: 26.0 KB

In [34]:
period = rets.loc["1999":"2015"]
period.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 204 entries, 1999-01 to 2015-12
Freq: M
Data columns (total 2 columns):
small_cap    204 non-null float64
large_cap    204 non-null float64
dtypes: float64(2)
memory usage: 4.8 KB

## Period Annualized Returns

In [35]:
((period + 1).prod()**(12/period.shape[0]) - 1)*100

small_cap    11.442634
large_cap     6.286512
dtype: float64

## Period Annualized Volatility

In [36]:
period.std()*np.sqrt(12)*100

small_cap    22.889447
large_cap    17.271332
dtype: float64

In [37]:
rets.head()

         small_cap  large_cap
1926-07    -0.0057     0.0333
1926-08     0.0384     0.0233
1926-09    -0.0048    -0.0009
1926-10    -0.0329    -0.0295
1926-11    -0.0055     0.0316

## Max Drawdown

In [40]:
- erk.drawdown_df(period.small_cap).drawdown.min()*100

62.48092431236988

In [41]:
erk.drawdown_df(period.small_cap).drawdown.idxmin()

Period('2009-02', 'M')

In [42]:
- erk.drawdown_df(period.large_cap).drawdown.min()*100

55.27349978713653

In [43]:
erk.drawdown_df(period.large_cap).drawdown.idxmin()

Period('2009-02', 'M')

## Hegde Fund Indices

In [44]:
hfi = erk.get_hfi_returns()

In [45]:
hfi.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
1997-01,0.0119,0.0393,0.0178,0.0791,0.0189,0.0213,0.0191,0.0573,0.0281,0.0150,0.0180,-0.0166,0.0317
1997-02,0.0123,0.0298,0.0122,0.0525,0.0101,0.0084,0.0122,0.0175,-0.0006,0.0034,0.0118,0.0426,0.0106
1997-03,0.0078,-0.0021,-0.0012,-0.0120,0.0016,-0.0023,0.0109,-0.0119,-0.0084,0.0060,0.0010,0.0778,-0.0077
1997-04,0.0086,-0.0170,0.0030,0.0119,0.0119,-0.0005,0.0130,0.0172,0.0084,-0.0001,0.0122,-0.0129,0.0009
1997-05,0.0156,-0.0015,0.0233,0.0315,0.0189,0.0346,0.0118,0.0108,0.0394,0.0197,0.0173,-0.0737,0.0275

In [46]:
hfi.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 263 entries, 1997-01 to 2018-11
Freq: M
Data columns (total 13 columns):
Convertible Arbitrage     263 non-null float64
CTA Global                263 non-null float64
Distressed Securities     263 non-null float64
Emerging Markets          263 non-null float64
Equity Market Neutral     263 non-null float64
Event Driven              263 non-null float64
Fixed Income Arbitrage    263 non-null float64
Global Macro              263 non-null float64
Long/Short Equity         263 non-null float64
Merger Arbitrage          263 non-null float64
Relative Value            263 non-null float64
Short Selling             263 non-null float64
Funds Of Funds            263 non-null float64
dtypes: float64(13)
memory usage: 28.8 KB

In [47]:
hfi = hfi.loc["2009":]

In [48]:
hfi.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 119 entries, 2009-01 to 2018-11
Freq: M
Data columns (total 13 columns):
Convertible Arbitrage     119 non-null float64
CTA Global                119 non-null float64
Distressed Securities     119 non-null float64
Emerging Markets          119 non-null float64
Equity Market Neutral     119 non-null float64
Event Driven              119 non-null float64
Fixed Income Arbitrage    119 non-null float64
Global Macro              119 non-null float64
Long/Short Equity         119 non-null float64
Merger Arbitrage          119 non-null float64
Relative Value            119 non-null float64
Short Selling             119 non-null float64
Funds Of Funds            119 non-null float64
dtypes: float64(13)
memory usage: 13.0 KB

## Semideviation

In [53]:
hfi[hfi<0].std(ddof=0).sort_values()

Fixed Income Arbitrage    0.003321
Merger Arbitrage          0.003611
Global Macro              0.005075
Equity Market Neutral     0.005186
Relative Value            0.005711
Convertible Arbitrage     0.006681
Funds Of Funds            0.007948
Distressed Securities     0.009498
Event Driven              0.010135
CTA Global                0.010996
Long/Short Equity         0.012139
Emerging Markets          0.015276
Short Selling             0.021240
dtype: float64

## Skewness

In [49]:
erk.skewness(hfi).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

## Kurtosis

In [50]:
erk.kurtosis(hfi).sort_values()

CTA Global                2.591087
Merger Arbitrage          2.715238
Global Macro              3.164362
Distressed Securities     3.319725
Event Driven              3.620617
Funds Of Funds            3.816132
Long/Short Equity         4.115713
Short Selling             4.175832
Emerging Markets          4.401636
Relative Value            4.512482
Equity Market Neutral     5.071677
Fixed Income Arbitrage    6.406941
Convertible Arbitrage     6.775731
dtype: float64